<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All runs
    </h1>

    <a href="/runs/new" class="btn btn-block btn-outline-secondary">
      Add a new run
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Date of run
        </th>

        <th>
          Training week
        </th>

        <th>
          Miles planned
        </th>

        <th>
          Miles actual
        </th>

        <th>
          Treadmill incline
        </th>

        <th>
          Run duration minutes
        </th>

        <th>
          Run duration seconds
        </th>

        <th>
          Actual pace
        </th>

        <th>
          Location
        </th>

        <th>
          Notes
        </th>

        <th>
          User
        </th>

        <th>
          Shoe
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @runs.each do |run| %>
      <tr>
        <!-- Display run.id start -->
        <td>
          <%= run.id %>
        </td>
        <!-- Display run.id end -->

        <!-- Display run.date_of_run start -->
        <td>
          <%= run.date_of_run %>
        </td>
        <!-- Display run.date_of_run end -->

        <!-- Display run.training_week start -->
        <td>
          <%= run.training_week %>
        </td>
        <!-- Display run.training_week end -->

        <!-- Display run.miles_planned start -->
        <td>
          <%= run.miles_planned %>
        </td>
        <!-- Display run.miles_planned end -->

        <!-- Display run.miles_actual start -->
        <td>
          <%= run.miles_actual %>
        </td>
        <!-- Display run.miles_actual end -->

        <!-- Display run.treadmill_incline start -->
        <td>
          <%= run.treadmill_incline %>
        </td>
        <!-- Display run.treadmill_incline end -->

        <!-- Display run.run_duration_minutes start -->
        <td>
          <%= run.run_duration_minutes %>
        </td>
        <!-- Display run.run_duration_minutes end -->

        <!-- Display run.run_duration_seconds start -->
        <td>
          <%= run.run_duration_seconds %>
        </td>
        <!-- Display run.run_duration_seconds end -->

        <!-- Display run.actual_pace start -->
        <td>
          <%= run.actual_pace %>
        </td>
        <!-- Display run.actual_pace end -->

        <!-- Display run.location_id start -->
        <td>
          <%= run.location_id %>
        </td>
        <!-- Display run.location_id end -->

        <!-- Display run.notes start -->
        <td>
          <%= run.notes %>
        </td>
        <!-- Display run.notes end -->

        <!-- Display run.user_id start -->
        <td>
          <%= run.user_id %>
        </td>
        <!-- Display run.user_id end -->

        <!-- Display run.shoe_id start -->
        <td>
          <%= run.shoe_id %>
        </td>
        <!-- Display run.shoe_id end -->

        <!-- Display run.created_at start -->
        <td>
          <%= time_ago_in_words(run.created_at) %> ago
        </td>
        <!-- Display run.created_at end -->

        <!-- Display run.updated_at start -->
        <td>
          <%= time_ago_in_words(run.updated_at) %> ago
        </td>
        <!-- Display run.updated_at end -->

        <td>
          <a href="/runs/<%= run.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
