<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All runs
    </h1>

    <a href="/runs/new" class="btn btn-block btn-outline-secondary">
      Add a new run
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "run_templates/runs_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Date of run
        </th>

        <th>
          Training week
        </th>

        <th>
          Miles planned
        </th>

        <th>
          Miles actual
        </th>

        <th>
          Treadmill incline
        </th>

        <th>
          Run duration minutes
        </th>

        <th>
          Run duration seconds
        </th>

        <th>
          Actual pace
        </th>

        <th>
          Location
        </th>

        <th>
          Notes
        </th>

        <th>
          User
        </th>

        <th>
          Shoe
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @runs.each do |run| %>
      <tr>
        <td>
          <%= run.id %>
        </td>

        <td>
          <%= run.date_of_run %>
        </td>

        <td>
          <%= run.training_week %>
        </td>

        <td>
          <%= run.miles_planned %>
        </td>

        <td>
          <%= run.miles_actual %>
        </td>

        <td>
          <%= run.treadmill_incline %>
        </td>

        <td>
          <%= run.run_duration_minutes %>
        </td>

        <td>
          <%= run.run_duration_seconds %>
        </td>

        <td>
          <%= run.actual_pace %>
        </td>

        <td>
          <%= run.location_id %>
        </td>

        <td>
          <%= run.notes %>
        </td>

        <td>
          <% if run.user.present? %>
            <a href="/users/<%= run.user.id %>">
              <%= run.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <% if run.shoe.present? %>
            <a href="/shoes/<%= run.shoe.id %>">
              <%= run.shoe.shoe_name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(run.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(run.updated_at) %> ago
        </td>

        <td>
          <a href="/runs/<%= run.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @runs, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
