<% if @run.present? %>
  <% if @run.errors.any? %>
    <% @run.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new run
</h1>


<hr>

<form action="/create_run" method="post">

  <div class="form-group">
    <label for="date_of_run">
      Date of run
    </label>

    <input type="text" id="date_of_run" name="date_of_run" class="form-control" value="<%= @run.date_of_run %>">
  </div>

  <div class="form-group">
    <label for="training_week">
      Training week
    </label>

    <input type="text" id="training_week" name="training_week" class="form-control" value="<%= @run.training_week %>">
  </div>

  <div class="form-group">
    <label for="miles_planned">
      Miles planned
    </label>

    <input type="text" id="miles_planned" name="miles_planned" class="form-control" value="<%= @run.miles_planned %>">
  </div>

  <div class="form-group">
    <label for="miles_actual">
      Miles actual
    </label>

    <input type="text" id="miles_actual" name="miles_actual" class="form-control" value="<%= @run.miles_actual %>">
  </div>

  <div class="form-group">
    <label for="treadmill_incline">
      Treadmill incline
    </label>

    <input type="text" id="treadmill_incline" name="treadmill_incline" class="form-control" value="<%= @run.treadmill_incline %>">
  </div>

  <div class="form-group">
    <label for="run_duration_minutes">
      Run duration minutes
    </label>

    <input type="text" id="run_duration_minutes" name="run_duration_minutes" class="form-control" value="<%= @run.run_duration_minutes %>">
  </div>

  <div class="form-group">
    <label for="run_duration_seconds">
      Run duration seconds
    </label>

    <input type="text" id="run_duration_seconds" name="run_duration_seconds" class="form-control" value="<%= @run.run_duration_seconds %>">
  </div>

  <div class="form-group">
    <label for="actual_pace">
      Actual pace
    </label>

    <input type="text" id="actual_pace" name="actual_pace" class="form-control" value="<%= @run.actual_pace %>">
  </div>

  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <input type="text" id="location_id" name="location_id" class="form-control" value="<%= @run.location_id %>">
  </div>

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <input type="text" id="notes" name="notes" class="form-control" value="<%= @run.notes %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="shoe_id">
      Shoe
    </label>

    <%= select_tag(:shoe_id, options_from_collection_for_select(Shoe.all, :id, :shoe_name, @run.shoe_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create run
  </button>
</form>

<hr>

<a href="/runs">
  Go back
</a>
