<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Run #<%= @run.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/runs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @run.user %>
          <a href="/runs/<%= @run.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit run
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @run.user %>
          <a href="/delete_run/<%= @run.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete run
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Date of run
      </dt>
      <dd>
        <%= @run.date_of_run %>
      </dd>

      <dt>
        Training week
      </dt>
      <dd>
        <%= @run.training_week %>
      </dd>

      <dt>
        Miles planned
      </dt>
      <dd>
        <%= @run.miles_planned %>
      </dd>

      <dt>
        Miles actual
      </dt>
      <dd>
        <%= @run.miles_actual %>
      </dd>

      <dt>
        Treadmill incline
      </dt>
      <dd>
        <%= @run.treadmill_incline %>
      </dd>

      <dt>
        Run duration minutes
      </dt>
      <dd>
        <%= @run.run_duration_minutes %>
      </dd>

      <dt>
        Run duration seconds
      </dt>
      <dd>
        <%= @run.run_duration_seconds %>
      </dd>

      <dt>
        Actual pace
      </dt>
      <dd>
        <%= @run.actual_pace %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @run.location_id %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @run.notes %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @run.user.present? %>
          <a href="/users/<%= @run.user_id %>">
            <%= @run.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Shoe
      </dt>
      <dd>
        <% if @run.shoe.present? %>
          <a href="/shoes/<%= @run.shoe_id %>">
            <%= @run.shoe.shoe_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@run.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@run.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

