<%= search_form_for @q, :class => collapse_search_form, :id => "shoes_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :shoe_name_cont, "Shoe name contains" %>
    <%= f.text_field :shoe_name_cont, :class => "form-control", :placeholder => "Shoe name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :user_email_cont, "User email contains" %>
    <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :date_of_run, "Run Date of run" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='runsgteqdate_of_runPicker' data-target-input="nearest">
          <%= f.text_field :runs_date_of_run_gteq, :class => "form-control datetimepicker-input", :placeholder => "Run Date of run greater than or equal to", :data => {:target => '#runsgteqdate_of_runPicker'} %>
          <div class="input-group-append" data-target='#runsgteqdate_of_runPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='runslteqdate_of_runPicker' data-target-input="nearest">
          <%= f.text_field :runs_date_of_run_lteq, :class => "form-control datetimepicker-input", :placeholder => "Run Date of run less than or equal to", :data => {:target => '#runslteqdate_of_runPicker'} %>
          <div class="input-group-append" data-target='#runslteqdate_of_runPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#runsgteqdate_of_runPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#runslteqdate_of_runPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#runsgteqdate_of_runPicker').on("dp.change", function (e) {
              $('#runslteqdate_of_runPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#runslteqdate_of_runPicker').on("dp.change", function (e) {
              $('#runsgteqdate_of_runPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/shoes" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#shoes_filters">
  Show filters
</a>
