<!-- Validation failure messages -->
<% if @monthly_mileage.errors.any? %>
  <% @monthly_mileage.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit monthly mileage #<%= @monthly_mileage.id %>
</h1>

<hr>

<!-- Form monthly_mileage start -->
<form action="/update_monthly_mileage/<%= @monthly_mileage.id %>" method="post">
<!-- Form monthly_mileage end -->

  <!-- Label and input for month_starting start -->
  <div class="form-group">
    <label for="month_starting">
      Month starting
    </label>

    <!-- Input for month_starting start -->
    <input type="text" id="month_starting" name="month_starting" class="form-control" value="<%= @monthly_mileage.month_starting %>">
    <!-- Input for month_starting end -->
  </div>
  <!-- Label and input for month_starting end -->

  <!-- Label and input for monthly_mileage start -->
  <div class="form-group">
    <label for="monthly_mileage">
      Monthly mileage
    </label>

    <!-- Input for monthly_mileage start -->
    <input type="text" id="monthly_mileage" name="monthly_mileage" class="form-control" value="<%= @monthly_mileage.monthly_mileage %>">
    <!-- Input for monthly_mileage end -->
  </div>
  <!-- Label and input for monthly_mileage end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @monthly_mileage.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update monthly mileage
  </button>
</form>

<hr>

<a href="/monthly_mileages">
  Go back
</a>
