<% if @monthly_mileage.errors.any? %>
  <% @monthly_mileage.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit monthly mileage #<%= @monthly_mileage.id %>
</h1>

<hr>

<form action="/update_monthly_mileage/<%= @monthly_mileage.id %>" method="post">

  <div class="form-group">
    <label for="month_starting">
      Month starting
    </label>

    <input type="text" id="month_starting" name="month_starting" class="form-control" value="<%= @monthly_mileage.month_starting %>">
  </div>

  <div class="form-group">
    <label for="monthly_mileage">
      Monthly mileage
    </label>

    <input type="text" id="monthly_mileage" name="monthly_mileage" class="form-control" value="<%= @monthly_mileage.monthly_mileage %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update monthly mileage
  </button>
</form>

<hr>

<a href="/monthly_mileages">
  Go back
</a>
