<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All monthly mileages
    </h1>

    <a href="/monthly_mileages/new" class="btn btn-block btn-outline-secondary">
      Add a new monthly mileage
    </a>
  </div>
</div>

<!-- Ransack Code start -->
<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "monthly_mileage_templates/monthly_mileages_search_form" %>
  </div>
</div>
<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Month starting
        </th>

        <th>
          Monthly mileage
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @monthly_mileages.each do |monthly_mileage| %>
      <tr>
        <!-- Display monthly_mileage.id start -->
        <td>
          <%= monthly_mileage.id %>
        </td>
        <!-- Display monthly_mileage.id end -->

        <!-- Display monthly_mileage.month_starting start -->
        <td>
          <%= monthly_mileage.month_starting %>
        </td>
        <!-- Display monthly_mileage.month_starting end -->

        <!-- Display monthly_mileage.monthly_mileage start -->
        <td>
          <%= monthly_mileage.monthly_mileage %>
        </td>
        <!-- Display monthly_mileage.monthly_mileage end -->

        <!-- Display monthly_mileage.user_id start -->
        <td>
          <% if monthly_mileage.user.present? %>
            <a href="/users/<%= monthly_mileage.user.id %>">
              <%= monthly_mileage.user.email %>
            </a>
          <% end %>
        </td>
        <!-- Display monthly_mileage.user_id end -->

        <!-- Display monthly_mileage.created_at start -->
        <td>
          <%= time_ago_in_words(monthly_mileage.created_at) %> ago
        </td>
        <!-- Display monthly_mileage.created_at end -->

        <!-- Display monthly_mileage.updated_at start -->
        <td>
          <%= time_ago_in_words(monthly_mileage.updated_at) %> ago
        </td>
        <!-- Display monthly_mileage.updated_at end -->

        <td>
          <a href="/monthly_mileages/<%= monthly_mileage.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @monthly_mileages, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
